<html lang="en">
  <head>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div id="profileInfo"></div>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        document.getElementById('profileInfo').innerHTML = profile.getName() + 
          "<br>" + 
          "<a href='mailto:'" + profile.getEmail() + "'>" 
            + profile.getEmail() + 
          "</a>" + 
          "<br>" + 
          "<img src='" + profile.getImageUrl() + "'/>";
      }
    </script>

    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
  </body>
</html>
